		<div>
			<h1 class="text-4xl font-semibold leading-loose">
				Jeffrey Wood
			</h1>
			<div class="lg:w-[500px] text-xl leading-loose">
				I am a UI Designer at Reibase, a Techstars backed company based in NYC. 
			</div>
		</div>