		<div class="m-20">
			<h1 class="text-3xl leading-loose">
				Jeffrey Wood
			</h1>
			<div class="w-[400px] text-sm leading-loose">
				I am a Full Stack Developer based in NYC. Most recently I worked for Reibase, a Techstars backed company. 
				Currently I am developing <a href="https://selectedwork.net" target="_blank"> SelectedWork</a> - a platform for creating professional portfolio websites.
			</div>
			<div class="my-5">
				<ul class="space-y-2">
					<li>
						GitHub
					</li>
					<li>
						LinkedIn
					</li>
					<li>
						X
					</li>
				</ul>
			</div>
		</div>