		<div>
			<h1 class="text-4xl font-semibold leading-loose">
				Jeffrey Wood
			</h1>
			<div class="w-[500px] text-xl leading-loose">
				I am a Full Stack Developer based in NYC. Most recently I worked at Reibase, a Techstars backed company. 
				Currently I am developing <a class="underline hover:text-white transition-all" href="https://selectedwork.net" target="_blank"> SelectedWork</a> - a platform for creating professional portfolio websites.
			</div>
			<div class="my-5 text-xl">
				<ul class="space-y-4">
					<li>
						<a href="https://github.com/jex441" target="_blank">GitHub</a>
					</li>
					<li>
						<a href="https://linkedin.com/in/jeffreylwood">LinkedIn</a>
					</li>
					<li>
						<a href="https://x.com/_reibase" target="_blank">X</a>
					</li>
				</ul>
			</div>
		</div>